<div class="container-fluid justify-content-center">
    <div class="row mt-3 justify-content-around">
        <div class="col-6 text-center">
            <h2>{{mesActual}} {{anyoActual}}</h2>
        </div>
        <div class="col-6 justify-content-center">
            <button (click)="addRegister()" class="btn btn-primary">Nuevo Registro <i class="fa-sharp fa-solid fa-plus"></i></button>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-6 text-center">
            <button (click)="prevMonth()" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i> Mes Anterior</button>
        </div>
        <div class="col-6 text-center">
            <button (click)="nextMonth()" class="btn btn-primary">Mes Siguiente <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="table-responsive mt-3 col-lg-10 col-md-10">
            <tabla-registros></tabla-registros>
        </div>
    </div>
</div>